{% extends 'base.html.twig' %}

{% block header_img %}{% endblock %}

{% block header_title %}<h1>Erreur 404</h1>{% endblock %}

{% block body %}
<p>La page que vous recherchez semble introuvable.</p>
{% endblock %}