{% extends 'base.html.twig' %}

{% block header_img %}{% endblock %}

{% block header_title %}<h1>Accès interdit</h1>{% endblock %}

{% block body %}
<p>Vous n'êtes pas autorisé à consulter cette page.</p>
{% endblock %}